
body {
      font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   
    }

.container {
  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: 
  "sidebar head"
  "sidebar body"
  "sidebar . "
  ;
  /* background-color: green; */
}

.header {
    background-color: orange;
    height: 100px;
    display: grid;
    grid-template-rows: 1r 2fr;
}

.first_header_row {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 326px;
    
}

.first{
    background-color: green;
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-left: 30px;
    align-content: center;
}


.first_right {
    
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
   

}

.first_right > div{
    margin-right:auto;
}

.first_right .last {
    margin-left: -53px;
    
    }
    
.first_right .bell {
    margin-left: 50px;
   }

input {  
    border-radius: 30px;
    width: 80%;
    min-width: 100px;
    background-color: blue;
    margin-right: 10px;
    border-style: none;
    border: 1px solid ;
}


input:focus {
    border-style: none;
    border: 1px solid ;
    border-color: orange;
}


.second_header_row {
    display: grid;
    background-color: pink;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    margin-left:30px;
}

.second {
    background-color: green;
    display: grid;
    grid-template-columns: 60px 1fr;
}

button {
    padding: 8.5px;
    border-radius: 30px;
    border-style: none;
    border: 1px solid ;
    width: 90px;
}

.btn {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 30px;
    column-gap: 10px;
    
}

button:first-child, button:last-child{
     width: 95px;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(28, 177, 236);
    color: white;
    display: grid;
    grid-template-rows: 70px repeat(2, 220px);
    justify-content: center;
    height: 860px;
}

.sidebar .logo {
    font-size: 1.5rem;
   margin-top: -6px;
    
}

.sidebar .mid_content > div{
 margin-top: 10px;
}

.sidebar .last_content > div{
    margin-top: 10px;
}

.body {
    grid-area: body;
    
    display: grid;
   
    grid-template-columns: repeat(2, min(405px)) 1fr;
    grid-template-rows: repeat(3, 200px);
    
    grid-template-areas: 
    "card1 card2 right_sidebar"
    "card3 card4 right_sidebar"
    "card5 card6 right_sidebar"
    ;
    margin-top: 50px;
    row-gap: 30px;

}



.cards {
    background-color: aquamarine;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    font-size: 0.9rem;

}

.card1 {
    grid-area: card1;
    background-color: orange;
}

.card2 {
    grid-area: card2;
    background-color: pink;
}

.card3 {
    grid-area: card3;
    background-color: yellow;
}

.card4 {
    grid-area: card4;
    background-color: green;
}

.card5 {
    background-color: blue;
    grid-area: card5;
}

.card6 {
    background-color: brown;
    grid-area: card6;
}

.right_sidebar {
    background-color: rgb(192, 214, 255);
    display: grid;
    grid-template-rows: 300px 1fr;
    row-gap: 52px;
    width: 300px;
    margin-right: 20px;
   
}

.announcements {
    background-color: rgb(190, 139, 72);
   padding: 30px;
   font-size: 0.7rem;
}

.trending {
    background-color: rgb(14, 148, 148);
    padding: 30px;
    font-size: 0.9rem;
}

.annouce {
    position: absolute;
    top: 105px;
}

.trend {
    position: absolute;
    top: 455px;
}
a {
    text-decoration: none;
    color: white;
}

.project {
    position: absolute;
    top: 99px;
    left: 210px;
    font-size: 1.2rem;
}

svg.dashboard {
    width: 2.4rem;
    fill: white;
    margin-left: -20px;
    position: relative;
    left: -8px;
    top: 13px;
  }

 svg.sidebar_icon {
    fill: white;
    width: 20px;
    position: relative;
    left: -17px;
    top: 4px;
 }

 svg.profile {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.message {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.history {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
 }

 svg.task {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
    
 }
 svg.settings {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.communities {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
 }

 svg.question {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 5px;
 }

 svg.security {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 