
body {
      font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      background-color: #D3D3D3;
      color: #002147;
    }

.container {
  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: 
  "sidebar head"
  "sidebar body"
  "sidebar . "
  ;
  /* background-color: green; */
}

.header {
     border-bottom: 1px solid;
    height: 100px;
    display: grid;
    grid-template-rows: 1r 2fr;
    background-color: #5e88a5;
    color: #FFFFFF;
}

.first_header_row {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 326px;
    
}

.first{
    
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-left: 30px;
    align-content: center;
}


.first_right {
    
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
   

}

.first_right > div{
    margin-right:auto;
}

.first_right .last {
    margin-left: -53px;
    
    }
    
.first_right .bell {
    margin-left: 50px;
   }

input {  
    border-radius: 30px;
    width: 100%;
    min-width: 100px;
    background-color: #d3e6ec;
    margin-right: 10px;
    border-style: none;
    border: 1px solid ;
    color: #002147;
}


input:focus {
    border-style: none;
    border: 1px solid ;
    border-color: orange;
}


.second_header_row {
    display: grid;

    align-items: center;
    grid-template-columns: 4fr 1fr;
    margin-left:30px;
}

.second {
 
    display: grid;
    grid-template-columns: 60px 1fr;
}

button {
    padding: 8.5px;
    border-radius: 30px;
    border-style: none;
    border: 1px solid ;
    width: 90px;
    background-color: white;
    color: darkblue;
}

.btn {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 30px;
    column-gap: 10px;
    
}

button:first-child, button:last-child{
     width: 95px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #094169;
    
    display: grid;
    grid-template-rows: 70px repeat(2, 220px);
    justify-content: center;
    height: 860px;
}

.sidebar a {
    color: #d1cbcb;
}
.sidebar .logo {
    font-size: 1.5rem;
   margin-top: -3px;
   
    
}

.sidebar .mid_content > div{
 margin-top: 10px;
 
}

.sidebar .last_content > div{
    margin-top: 10px;
}

.body {
    grid-area: body;
    
    display: grid;
   
    grid-template-columns: repeat(2, min(405px)) 1fr;
    grid-template-rows: repeat(3, 200px);
    
    grid-template-areas: 
    "card1 card2 right_sidebar"
    "card3 card4 right_sidebar"
    "card5 card6 right_sidebar"
    ;
    margin-top: 50px;
    row-gap: 30px;

}



.cards {
    background-color: aquamarine;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    font-size: 0.9rem;
    border-radius: 8px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: blue;
    cursor: pointer;
    
}

.card1 {
    grid-area: card1;
    background-color: orange;
}

/* .card1:hover, .rock_paper_scissors:hover {
    transform: scale(1.1);
    width: 80%;
   
} */

.card2 {
    grid-area: card2;
    background-color: pink;
}

.card3 {
    grid-area: card3;
    background-color: yellow;
}

.card4 {
    grid-area: card4;
    background-color: green;
}

.card5 {
    background-color: blue;
    grid-area: card5;
}

.card6 {
  
    grid-area: card6;
}

.right_sidebar {
    background-color: rgb(192, 214, 255);
    display: grid;
    grid-template-rows: 347.5px 1fr;
    row-gap: 52px;
    width: 300px;
    margin-right: 20px;
   
}

.announcements {
    background-color: #80B1D3;
   padding: 30px;
   font-size: 0.7rem;
   color: #4F4F4F;
}

.trending {
    background-color: #80B1D3;
    color: #4F4F4F;
    padding: 30px;
    font-size: 0.9rem;
}

.annouce {
    position: absolute;
    top: 105px;
}

.trend {
    position: absolute;
    top: 505px;
}
a {
    text-decoration: none;
    color: white;
}

.project {
    position: absolute;
    top: 99px;
    left: 210px;
    font-size: 1.2rem;
}

svg.dashboard {
    width: 2.4rem;
    fill: white;
    margin-left: -20px;
    position: relative;
    left: -5px;
    top: 13px;
  }

  
 svg.home {
    fill: white;
    width: 20px;
    position: relative;
    left: -13px;
    top: 4px;
 }

 

 .mid_content > div:first-child{
     margin-left: -3px;
 }

 svg.profile {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.message {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.history {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
 }

 svg.task {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
    
 }
 svg.settings {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.communities {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 3px;
 }

 svg.question {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 5px;
 }

 svg.security {
    fill: white;
    width: 1.1rem;
    position: relative;
    left: -15px;
    top: 4px;
 }

 svg.search_icon {
    
    width: 1.7rem;
    position: relative;
    left: 10px;
    top: 2px;
 }

 svg.bell_icon {
    fill: white;
    width: 1.6rem;
    position: relative;
    left: 70px;
    top: 1px;
 }

 .aj_logo {
    width: 100px;
    position: absolute;
    right: 145px;
 }

 .second_header_row .secondlogo {
   width: 80px;
   position: absolute;
   top: 33px;
   left: 216px;

 }

 .trending2 .secondlogo{
    width: 80px;
 }
 svg.horse {
   fill: #4F4F4F;;
    width: 2rem;
    position: relative;
    right: -8px;
    background-color: rgb(213, 221, 221);
    border-radius: 50%;
    padding: 2px;
 }

 .trending p{
font-size: 0.7rem;
 }

 .trending p:last-child {
    margin-top: -8px;
   
 }

 .sidebar .logo {
    color: #d1cbcb;;
 }

 .aj_logosidebar {
    position: relative;
    top: 100px;
 }

 .trending1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px;
   
    align-items: center;
 }

 .trending2 {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px;
 }

 .aj_logosidebar2 {
    position: relative;
    top: -10px;
    right: 15px;
 }

 .trending3, .trending4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px;
    
    align-items: center;
 }

 .trending1 p, .trending2 p, .trending3 p, .trending4 p {
   
    margin-left: -25px;
 }

 h5 {
    font-size: 0.75rem;
    font-weight: 800;
 }

 .sketch, .rock_paper_scissors {
    width: 114.8%;
    height: 125%;
    margin-top: -75px;
    margin-left: -30px;
 }

 .documentation, .bookclub, .calculator, .surveyform  {
    width: 114.8%;
    height: 125%;
    margin-top: -20px;
    margin-left: -30px;
 }

 .right_sidebarlogo1, .right_sidebarlogo2, .right_sidebarlogo3, .right_sidebarlogo4 {
    width: 50%;
 }

 .right_sidebarlogo2 {
    margin-top: 15px;
 }